.select-center-container {
    height: 70%;
    text-align: center;
    .select-center-top-title-container {
        height: 20px;
        padding-left: 20px;
        display: flex;
        background-color: #ccc;
        .select-center-title-item {
            flex: 1;
        }
    }
    .select-center-main-container {
        display: flex;
        height: calc(100% - 20px);
        background-color: #ccc;
        .select-center-top-left-container {
            width: 20px;
            height: 100%;
            .select-center-title-item {
                padding-top: 20px;
            }
        }
        .select-center-content {
            flex: 1;
            height: 100%;
            background-color: red;
            .select-center-row {
                display: flex;
                .select-center-button {
                    flex: 1;
                    margin-top: 3px;
                    margin-right: 3px;
                }
            }
        }
    }
}
