.rb-welcome {
    color: white;
    text-align: center;
    height: 100%;
    font-size: 100px;
    font-weight: 900;
    .left-panel {
        background: red;
    }
    .right-panel {
        background: black;
    }
    .title {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.game-container {
    margin-top: 100px;
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    background: #fff;
    .round-title {
        font-size: 20px;
        font-weight: 900;
    }
    .group-item {
        padding: 10px;
        background: #f5f5f5;
        height: 50px;
        cursor: pointer;
        margin: 5px;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        .ant-dropdown-link {
            width: 33%;
            height: 100%;
        }
    }
}
.chart-page {
    .chart-title {
        font-size: 20px;
        font-weight: 900;
        padding: 10px;
    }
    margin-top: 100px;
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    background: #fff;
}
