.App {
    font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
    height: 100%;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#root {
    height: 100%;
}
